<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <title>Comments</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{% static 'images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/iconic/css/material-design-iconic-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/mycss.css' %}">
    <link href="{% static 'css/blog-home.css' %}" rel="stylesheet">
<!--===============================================================================================-->
<script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script type="text/javascript">
function responder(id){
  document.getElementById(id).style.display = 'block'; 
}



</script>

</head>

<body>
<div class="allButFooter">
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">	
	<img src="{% static 'images/logo.png' %}" alt="Descripción de esta maravillosa imagen">
          <div class="card-body">
            <form action="{% url 'allgames' %}" method="get">
                <div class="input-group">
                 
                  <input type="text" class="form-control" placeholder="Buscar" name="q" id="id_q">
                  <span class="input-group-btn">
                     <button class="btn btn-secondary" type="submit" >
                         <img src="{% static 'images/icons/Search.svg' %}" alt="" width="30" height="20" title="Bootstrap">
             	     </button>
                 
                  </span>
                </div>
               </form>
          </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item ">
            <a class="nav-link" href="{% url 'allgames' %}">Juegos </a>
          </li>
            <li class="nav-item active">
            <a class="nav-link" href="{% url 'form' %}">Agregar un Juego </a>
          </li>
            {% if user.is_staff %}
                 <li class="nav-item active" ><a  class="nav-link" href="{% url 'acceptGame'  %}">Admin</a></li>
               {% endif %}
            {% if user.is_authenticated %}
                <li class="nav-item active" ><a  class="nav-link" >User: {{ user.get_username }}</a></li>
                 <li class="nav-item active" ><a  class="nav-link" href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
               {% endif %}
        </ul>
      </div>
      &nbsp;

    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <!-- Blog Entries Column -->
      <div class="col-md-8">
	<center>
	
	</center>
	<!-- Blog Post -->
        <div class="card mb-2" style="width: 46rem;">
          <div class="card-body">
		<form action="{% url 'comentario' game_id=game.id %}" method="post">
                {% csrf_token %}
		<div class="input-group">
 		 <div class="input-group-prepend">
 		 </div>
                <input type="hidden" id="userID" name="resp" value="false">
                <input type="hidden" id="userID" name="userID" value="{{user.id}}">
                <input type="hidden" id="comentID" name="gameID" value="{{game.id}}">

  		<textarea class="form-control" placeholder="Comentar" id="coment" name="coment"></textarea>
		</div>
		<h1></h1>
		<span class="float-right">
		<button id="image-logo6" class="btn btn-ligh" type="button" padding-right>
			<h6 >Cancelar</h6>
		</button>
		<button id="image-logo7" class="btn btn-lighy" type="submit" padding-right>
			<h6 style="color:#1E90FF">Comentar</h6>
		</button>
		</span>
               </form>
          </div>
        </div>
	{% for comentario in comentarios %}

	<!-- Preguntas -->
        <div class="card mb-2" style="width: 46rem;">
          <div class="card-body">
            <strong class="card-title">{{comentario.usuario}}</strong>
		<span class="float-right">
		<button class="btn btn-light" type="button">
			<img src="{% static 'images/icons/trash.svg' %}" alt="" width="30" height="25" title="Bootstrap">
		</button>
		<button class="btn btn-light" type="button" >
			<img src="{% static 'images/icons/pencil.svg' %}" alt="" width="30" height="25" title="Bootstrap">
		</button>
		</span>
	<br></br>
           <p class="card-text">
	   {{comentario.contenido}}
	  </p>
		<span class="float-right">
		<button id=image-logo" class="btn btn-dark" type="button"  onclick="responder({{comentario.id}})" padding-right>
			Responder
		</button>
		</span>
          </div>
        </div>
        <div class="card mb-2" style="width: 46rem;display:none;" id="{{comentario.id}}">
          <div class="card-body">
               <form action="{% url 'comentario' game_id=game.id %}" method="post">
                {% csrf_token %}
		<div class="input-group">
 		 <div class="input-group-prepend">
 		 </div>
                <input type="hidden" id="userID" name="resp" value="true">
                <input type="hidden" id="userID" name="userID" value="{{user.id}}">
                <input type="hidden" id="comentID" name="comentID" value="{{comentario.id}}">
                <input type="hidden" id="gameID" name="gameID" value="{{game.id}}">

  		<textarea class="form-control" placeholder="Comentar" id="coment" name="coment"></textarea>
		</div>
		<h1></h1>
		<span class="float-right">
		<button id="image-logo6" class="btn btn-ligh" type="button" padding-right>
			<h6 >Cancelar</h6>
		</button>
		<button id="image-logo7" class="btn btn-lighy" type="submit" padding-right>
			<h6 style="color:#1E90FF">Comentar</h6>
		</button>
		</span>
                <br></br>
               </form>
          </div>
        </div>
	{% for con in conexion %}
	<!-- Respuestas -->  
        {% ifequal con.0 comentario.id %}
        {% for resp in con.1 %}
	<span class="float-right">
        <div class="card mb-2" style="width: 42rem;">
          <div class="card-body" >
	  
            <strong class="card-title"> {{resp.usuario}}</strong>
		<span class="float-right">
		<button class="btn btn-light" type="button">
			<img src="{% static 'images/icons/trash.svg' %}" alt="" width="30" height="25" title="Bootstrap">
		</button>
		<button id="image-logo" class="btn btn-light" type="button" padding-right>
			<img src="{% static 'images/icons/pencil.svg' %}" alt="" width="30" height="25" title="Bootstrap">
		</button>
		</span>
          <br></br>
           <p class="card-text" >
	   {{resp.contenido}}
	  </p>
	
          </div>
        </div>
	</span>
        {% endfor %}
        {% endifequal %}
	{% endfor %}
	{% endfor %}
	
	
      </div>
      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">
        <!--Juego -->
        <div class="card my-4">
          <h5 class="card-header">{{game.title}}</h5>
          <div class="card-body">
            {{game.descripcion}}
          </div>
        </div>

      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->
</div>
  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; WorthGames 2020</p>
    </div>
    <!-- /.container -->
  </footer>

<!-- Bootstrap core JavaScript -->

</body>

</html>
