<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<title>Game</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{% static 'images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/iconic/css/material-design-iconic-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/mycss.css' %}">
    <link href="{% static 'css/blog-home.css' %}" rel="stylesheet">
<!--===============================================================================================-->
</head>
<body>
    <div class="allButFooter">
        <!-- Navigation -->
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
        <img src="{% static 'images/logo.png' %}" alt="Descripción de esta maravillosa imagen">
              <div class="card-body">
                <form method="get">
                <div class="input-group">
                 
                  <input type="text" class="form-control" placeholder="Buscar" name="q" id="id_q">
                  <span class="input-group-btn">
                     <button class="btn btn-secondary" type="submit" >
                         <img src="{% static 'images/icons/Search.svg' %}" alt="" width="30" height="20" title="Bootstrap">
             	     </button>
                  </span>
                </div>
               </form>
              </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item ">
               <a class="nav-link" href="{% url 'allgames' %}">Juegos </a>
              </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'form' %}">Agregar un Juego </a>
                </li>
                {% if user.is_staff %}
                 <li class="nav-item active" ><a  class="nav-link" href="{% url 'acceptGame'  %}">Admin</a></li>
               {% endif %}
                {% if user.is_authenticated %}
                <li class="nav-item active" ><a  class="nav-link" >User: {{ user.get_username }}</a></li>
                 <li class="nav-item active" ><a  class="nav-link" href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
               {% endif %}
            </ul>
          </div>
        </div>
        
      </nav>
      <form action="{% url 'allgames' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" id="order_by" name="order_by" value="puntuacion">
                        <button  type="submit" class="btn btn-outline-dark float-right">Ordenar por puntuaci&oacute;n</button>
                    </form>
      <form action="{% url 'allgames' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" id="order_by" name="order_by" value="votos">
                        <button  type="submit" class="btn btn-outline-dark float-right">Ordenar por votos</button>
                    </form>
      

      <div class="container">
      <br></br>
     {% for game in games %}
          {% if game.aceptado %}
            <div class="row">
            <div class="card float-right">
                <div class="row">
                    <div class="col-md-3">
                        <img class="d-block w-100" src="{{game.image.path}}" alt="">
                    </div>
                    <div class="col-md-7">
                        <div class="card-block">
                            <div class="card-header">
                                <div  class="btn-group" role="group" aria-label="First group" style="float:right;">
                        {% if game.puntuacion >= 5 %}
                                    <div class="puntaje-good">
                        {% else %}
                                    <div class="puntaje-bad">
                                    {% endif %}

                                        <a style="color: white; font-size: 40px;">{{game.puntuacion}}</a>
                                    </div>
                   
                                </div>
                                <a href="{% url 'game' game_id=game.id %}"><h2 class="card-title">{{game.title}}</h2></a>
                            </div>

                        <!--<h4 class="card-title">Small card</h4> -->
                        <p style="margin-top: 30px;">
                           {{ game.descripcion }}
                        </p>
                        <br>
                        </div>

                    </div>
                </div>
            </div>
            <br />
            </div>
          {% endif %}
     {% endfor %}
        <!-- row -->
    </div>
  </div>
 </div>
<!-- /.container -->
<!-- Footer -->

    <footer class="py-5 bg-dark" >
        <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; WorthGames 2020</p>
        </div>
        <!-- /.container -->
    </footer>

<!-- Bootstrap core JavaScript -->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>    
<script type="text/javascript">
  document.getElementById("id_q").value="{{query}}"
</script>

</body>
</html>
